.header {
  width: 100vw;
  height: 10vh;
  padding: 0 1rem;
  background-color: #555;
  display: flex;

  box-shadow: 0px 2px 12px 4px #000;

  position: sticky;
  top: 0;
}

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.nav__nav {
  display: flex;
}

.nav__brand {
  width: max-content;
  height: 100%;

  margin-right: 25px;
}

.nav__brand-link {
  width: max-content;
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;

  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;

  transition: font-size 0.3s ease-in-out;

  &:hover {
    color: indianred;
    font-size: 1.65rem;
  }

  & img {
    height: 100%;
    width: 50px;
  }
}

.nav__list {
  list-style-type: none;
  height: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__item {
  width: max-content;
  margin-left: 15px;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #fff;

  transition: font-size 0.3s ease-in-out;

  &:hover {
    color: indianred;
    font-size: 110%;
  }
}

/* mobile nav */
.hamburger {
  display: none;
  cursor: pointer;
  background-color: #555;
  border: none;

  &:hover {
    & .hamburger__inner,
    & .hamburger__inner::before,
    & .hamburger__inner::after {
      background-color: indianred;
    }
  }
}

.hamburger__box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 8px;
  transition: all 0.3s;
}

.hamburger__inner::before,
.hamburger__inner::after {
  content: "";
  display: block;
}

.hamburger__inner::before {
  top: -8px;
}

.hamburger__inner::after {
  bottom: -8px;
}

@media (max-width: 768px) {
  .header {
    height: min-content;
  }

  .hamburger {
    display: block;
  }

  .nav__list {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    transition: width 0.5s ease .5s, height 0.5s ease;
  }

  .nav__list.is-active {
    display: block;
    width: 110px;
    height: 80px;
  }
}
