* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: #fff;
  height: 10vh;
  padding: 0 1rem;
  text-align: center;

  position: sticky;
  top: 0;
  z-index: 1000; /* Ensures nav stays above other content */
}

header h1 {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #333;
  color: white;

}

.nav-brand {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-brand img {
  height: 50px;
  margin-right: 10px;
}

.nav-brand a {
  display: flex;
  align-items: center;

  color: white;
  text-decoration: none;

  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-brand a:hover {
  color: red;
}

.nav-links {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-links a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  height: 75%;
  padding: 0 1rem;
  letter-spacing: 2px;
}

.nav-links a:not(:last-child) {
  margin-right: 20px;
}

.nav-links a:hover {
  color: red;
  background-color: #444;
}

/* Additional styling can be added as needed */

main {
}

/* Full-screen section styling */
section {
  min-height: 90vh; /* 100% of the viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #f4f4f4;

  scroll-margin-top: 10vh;
}

/* Specific styling for the landing section */
#landing {
  background-color: #333;
  color: white;
}

button#enter-button {
  padding: .5rem 1rem;
  background-color: #333;
  color: white;
  margin-top: 1rem;
}

button#enter-button:hover {
  background-color: #444;
  color: red;
  cursor: pointer;

}

#about,
#services,
#contact {
  /* Shared styles for all sections */
}

footer {
  text-align: center;
  padding: 1rem 0;
  background: #333;
  color: white;
}


/* Utility classes */
.hidden {
  visibility: hidden;
}